# OS
Thumbs.db
.DS_Store

# IDE / editors
.vscode/
*.suo
*.user
*.sln
.idea/

# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build outputs
dist/
build/

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Temporary
tmp/
*.tmp
*.pid